@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
ul {
  list-style-type: none;
  font-family: DotGothic16;
  padding: 25px;
}
li {
  background-color: rgb(187, 247, 101);
  padding: 15px;
  max-width: 200px;
  text-align: center;
}
li:hover .dropdowncontent{
	display: inline-block;
}
.dropdowncontent {
  display: none;
  float: none;
  width: 140px;
  height: 100px;
  padding: 25px;
  word-spacing: 10px;
  border-style: solid;
  border-color:rgb(247, 251, 134);
  border-width: 5px;
  margin-top: 25px;
}
div {
  background-color: rgb(248, 188, 91);
  box-sizing: solid;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  text-align: center;
  padding: 75px;
  background-color: rgb(247, 251, 134);
}
.dropdowncontent:hover {
  background-color: rgb(248, 119, 114);
}
h1 {
  font-family: Comic Sans MS;
}
  @media screen and (max-width: 800px) {
    body {
      background-color: red;
    }
  }
  @media screen and (min-width: 800px) {
    body {
      background-color:white;
    }
  }
  @media screen and (max-width: 600px) {
    body {
      background-color:green;
    }
  }